
@media (max-width: 1000px) { .scroll-button { display: none; } }

@media (min-width: 768px) {
    .modal-dialog {
        width: 600px;
        margin: 100px auto;
    }
    .modal-md {
        width: 400px;
    }
}

*:focus {
    outline-style:none;
    box-shadow:none;
    border-color:transparent;
}