
@media (max-width: 1000px) {
    .scroll-button { display: none; }
    .onepage-wrapper .section {
        height: auto;
    }
}

@media (min-width: 768px) {
    .modal-dialog {
        width: 600px;
        margin: 100px auto;
    }
    .modal-md {
        width: 400px;
    }
}

.clear {
    opacity: 0.25;
    transition:opacity 600ms;
}

.clear:hover {
    opacity: 1;
    transition:opacity 600ms;
}

*:focus {
    outline-style:none;
    box-shadow:none;
    border-color:transparent;
}

.searchtab {
    background: #eeeeee;
    border: none;
}

.centred {
    padding: 1em 0;
}

.horizontal-center {
    margin: 0 auto;
    text-align: center;
}

.danger {
    background-color: #bd5050;
}

.pagination>.active>span {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #1DA195;
    border-color: #1DA195;
}

body {
    overflow-x: hidden;
}

.dropdownjs {
    z-index: 999;
}