.filler {
    padding: 2.5%;
}

@media (max-width: 1000px) {
    .scroll-button {
        display: none;
    }

    .onepage-wrapper .section {
        height: auto;
    }

    .filler {
        padding: 6%;
    }
}

@media (min-width: 768px) {
    .modal-dialog {
        width: 600px;
        margin: 100px auto;
    }

    .modal-md {
        width: 400px;
    }
}

.clear {
    opacity: 0.25;
    transition: opacity 600ms;
}

.clear:hover {
    opacity: 1;
    transition: opacity 600ms;
}

*:focus {
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
}

.searchtab {
    background: #eeeeee;
    border: none;
}

.centred {
    padding: 1em 0;
}

.horizontal-center {
    margin: 0 auto;
    text-align: center;
}

.danger {
    background-color: #bd5050;
}

.pagination > .active > span {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #1DA195;
    border-color: #1DA195;
}

body {
    overflow-x: hidden;
}

.dropdownjs {
    z-index: 999;
}

.btn-fab:hover {
    animation-name: spin;
    animation-duration: 600ms;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
        box-shadow: 0;
    }
    to {
        transform: rotate(360deg);
    }
}

.rounded-btn {
    position: fixed;
    z-index: 25;
    bottom: 30px;
    right: 50px;
    background-color: #b3392d;
    height: 56px;
    width: 56px;
}

.jumbotron {
    margin-top: 1%;
}

.well {
    margin-top: 1%;
}

.panel {
    margin-top: 1%;
}
